Repository googleinterns/debaised-analysis, pull requests merged in 2020-07, with the labels that each got.

#27 MeanVsMedian with tests
  intents/data/data_for_test_mean_vs_median/test_1.txt
  intents/data/data_for_test_mean_vs_median/test_10.txt
  intents/data/data_for_test_mean_vs_median/test_2.txt
  intents/data/data_for_test_mean_vs_median/test_3.txt
  intents/data/data_for_test_mean_vs_median/test_4.txt
  intents/data/data_for_test_mean_vs_median/test_5.txt
  intents/data/data_for_test_mean_vs_median/test_6.txt
  intents/data/data_for_test_mean_vs_median/test_7.txt
  intents/data/data_for_test_mean_vs_median/test_8.txt
  intents/data/data_for_test_mean_vs_median/test_9.txt
  intents/oversights/mean_vs_median.py
  intents/oversights/test_mean_vs_median.py
  intents/util/constants.py
Labels: adding oversight

#34 Looking at tails to find causes oversight with tests
  intents/oversights/looking_at_tails.py
  intents/oversights/test_looking_at_tails.py
  intents/test_all.sh
  intents/topk.py
  intents/util/constants.py
Labels: adding oversight

#36 adding time-compare intent and test file for it along with the data file
  intents/data/cricket_data.csv
  intents/data/football_matches.csv
  intents/test_all.sh
  intents/test_time_compare.py
  intents/time_compare.py
Labels: adding intent

#38 Added benchmark_set_too_different oversight
  intents/data/intern_performance.csv
  intents/data/revenue_list.csv
  intents/oversights/benchmark_set_too_different.py
  intents/oversights/test_benchmark_set_too_different.py
  intents/test_all.sh
Labels: adding oversight

#40 adding new modified simpsons paradox oversight
  intents/data/new_revenue_list.csv
  intents/data/student_score.csv
  intents/data/student_score_again.csv
  intents/oversights/simpson_paradox.py
  intents/oversights/simpsons_paradox.py
  intents/oversights/test_simpson_paradox.py
  intents/oversights/test_simpsons_paradox.py
  intents/test_all.sh
  intents/util/constants.py
Labels: adding oversight, enhancement

#41 More than just top-k oversight with tests
  intents/data/data_for_test_more_than_just_topk/result_table.csv
  intents/data/data_for_test_more_than_just_topk/result_table_1.csv
  intents/data/data_for_test_more_than_just_topk/sheet1.csv
  intents/main.py
  intents/oversights/more_than_just_topk.py
  intents/oversights/test_more_than_just_topk.py
  intents/topk.py
  intents/util/constants.py
Labels: adding oversight

#42 adding top-down error oversight
  intents/data/student_score1.csv
  intents/data/student_score2.csv
  intents/oversights/test_top_down_error.py
  intents/oversights/top_down_error.py
  intents/test_all.sh
  intents/util/constants.py
Labels: adding oversight

#37 Adding version 3 of ui
  ui/tests_ui_v3/appsscript.json
  ui/tests_ui_v3/master_test.js
  ui/tests_ui_v3/test_queryprocessing.js
  ui/tests_ui_v3/test_tableselection.js
  ui/ui_v3/appsscript.json
  ui/ui_v3/aspects/compare_value/compare_value.html
  ui/ui_v3/aspects/compare_value/compare_value_js.html
  ui/ui_v3/aspects/date_range/date_range.html
  ui/ui_v3/aspects/date_range/date_range_js.html
  ui/ui_v3/aspects/dimension/dimension.html
  ui/ui_v3/aspects/dimension/dimension_js.html
  ui/ui_v3/aspects/helper_functions_js.html
  ui/ui_v3/aspects/limit/limit.html
  ui/ui_v3/aspects/limit/limit_js.html
  ui/ui_v3/aspects/metric_summary/metric_summary.html
  ui/ui_v3/aspects/metric_summary/metric_summary_js.html
  ui/ui_v3/aspects/slice/slice.html
  ui/ui_v3/aspects/slice/slice_js.html
  ui/ui_v3/aspects/sort_order/sort_order.html
  ui/ui_v3/aspects/sort_order/sort_order_js.html
  ui/ui_v3/autocomplete/css/awesomplete_css.html
  ui/ui_v3/autocomplete/javascript/autocomplete_functions.html
  ui/ui_v3/autocomplete/javascript/awesomplete_js.html
  ui/ui_v3/css/buttons_icon_styling.html
  ui/ui_v3/css/general_styling.html
  ui/ui_v3/css/inputs_styling.html
  ui/ui_v3/css/query_madlib_output_styling.html
  ui/ui_v3/global_variables_js.html
  ui/ui_v3/indexpage/css/index_css.html
  ui/ui_v3/indexpage/html/index.html
  ui/ui_v3/indexpage/javascript/index_js.html
  ui/ui_v3/indexpage/javascript/table_selector_js.html
  ui/ui_v3/intents/javascript_functions/back_to_previous.html
  ui/ui_v3/intents/javascript_functions/helper_functions.html
  ui/ui_v3/intents/javascript_functions/insert_in_sheet.html
  ui/ui_v3/intents/javascript_functions/submit_query.html
  ui/ui_v3/intents/output_suggestions_card.html
  ui/ui_v3/intents/show/show.html
  ui/ui_v3/intents/show/show_js.html
  ui/ui_v3/intents/slice_compare/slicecompare.html
  ui/ui_v3/intents/slice_compare/slicecompare_js.html
  ui/ui_v3/intents/top_k/topk.html
  ui/ui_v3/intents/top_k/topk_js.html
  ui/ui_v3/scripts/add_output_in_sheet.js
  ui/ui_v3/scripts/load_intent.js
  ui/ui_v3/scripts/process_query.js
  ui/ui_v3/scripts/select_table.js
  ui/ui_v3/test_query/json_input.html
Labels: adding UI
