Repository googleinterns/debaised-analysis, pull requests merged in 2020-08, with the labels that each got.

#52 Adding Correlation Intent
  intents/correlation.py
  intents/data/data_for_test_correlation/students_performance.csv
  intents/data/data_for_test_correlation/vgsales.csv
  intents/main.py
  intents/test_all.sh
  intents/test_correlation.py
Labels: adding intent

#58 Weighted mean Intent added
  intents/data/data_for_test_weighted_mean/vgsales.csv
  intents/test_all.sh
  intents/test_weighted_mean.py
  intents/weighted_mean.py
Labels: adding intent

#56 Top-k vs others oversight
  intents/data/data_for_test_topk_vs_others/result_table.csv
  intents/data/data_for_test_topk_vs_others/result_table_1.csv
  intents/data/data_for_test_topk_vs_others/sheet1.csv
  intents/oversights/test_topk_vs_others.py
  intents/oversights/topk_vs_others.py
  intents/test_all.sh
  intents/test_topk.py
  intents/topk.py
  intents/util/constants.py
Labels: adding oversight

#57 Top-k when less than k present
  intents/oversights/test_topk_when_less_than_k_present.py
  intents/oversights/topk_when_less_than_k_present.py
  intents/test_all.sh
  intents/test_topk.py
  intents/topk.py
Labels: adding oversight

#61 Adding Attribution with Hidden Negative and integrating all group_by aspect related oversights
  intents/data/data_for_test_aspects/student_performance_updated_to_create_attribution_with_hidden_negative_oversight.csv
  intents/data/data_for_test_attribution_with_hidden_negative/test_1.txt
  intents/data/data_for_test_attribution_with_hidden_negative/test_2.txt
  intents/data/salary_in_various_regions.csv
  intents/data/student_score_updated_to_have_negative_marks.csv
  intents/oversights/attribution_with_hidden_negative.py
  intents/oversights/benchmark_set_too_different.py
  intents/oversights/mean_vs_median.py
  intents/oversights/regression_to_mean.py
  intents/oversights/simpsons_paradox.py
  intents/oversights/test_attribution_with_hidden_negative.py
  intents/oversights/test_looking_at_tails.py
  intents/oversights/test_mean_vs_median.py
  intents/oversights/test_more_than_just_topk.py
  intents/oversights/test_topk_vs_others.py
  intents/oversights/top_down_error.py
  intents/show.py
  intents/slice_compare.py
  intents/test_all.sh
  intents/test_show.py
  intents/test_slice_compare.py
  intents/test_trend.py
  intents/time_compare.py
  intents/topk.py
  intents/trend.py
  intents/util/aspects.py
  intents/util/constants.py
  intents/util/test_aspects.py
Labels: adding oversight

#69 Handled division by zero in oversights
  intents/oversights/benchmark_set_too_different.py
  intents/oversights/looking_at_tails.py
  intents/oversights/more_than_just_topk.py
  intents/oversights/test_benchmark_set_too_different.py
  intents/oversights/test_looking_at_tails.py
  intents/oversights/test_more_than_just_topk.py
  intents/test_all.sh
Labels: bug fix

#71 Wrong Points Oversight
  intents/main.py
  intents/oversights/test_wrong_points.py
  intents/oversights/wrong_points.py
  intents/test_all.sh
  intents/util/constants.py
  intents/util/enums.py
Labels: adding oversight

#66 Removing redundant column from show when no grouping happens
  intents/show.py
  intents/test_show.py
Labels: bug fix

#67 Weighted mean by different weights
  intents/oversights/test_weighted_mean_with_different_weights.py
  intents/oversights/weighted_mean_with_different_weights.py
  intents/show.py
  intents/test_all.sh
  intents/test_show.py
  intents/topk.py
  intents/weighted_mean.py
Labels: adding oversight

#70 Calendar vs experience time in time series
  intents/oversights/calendar_vs_experience_time.py
  intents/oversights/test_calendar_vs_experience_time.py
  intents/oversights/test_wrong_points.py
  intents/slice_compare.py
  intents/test_all.sh
  intents/test_show.py
  intents/test_slice_compare.py
  intents/util/constants.py
  intents/util/enums.py
  intents/util/oversights_order.py
Labels: adding oversight

#76 Fixed bugs in main.py
  intents/data/obj.json
  intents/main.py
Labels: bug fix

#80 Fixed imports & assertion fails
  intents/data/obj.json
  intents/main.py
  intents/oversights/test_attribution_with_hidden_negative.py
  intents/oversights/test_more_than_just_topk.py
Labels: bug fix
